# IntelliJ
*.iml
.idea/

# VS Code
.vscode/

# Build
*.log
dependency-reduced-pom.xml
pom.xml.versionsBackup
target/

# Python
venv/
downloaded_files/

# Tracker details
config.properties
screenshots/
trackers.csv

# vim
*.swp
